/*---------------------
    RESET
----------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #1d2d3c;
}

/*---------------------
    COMMONS
----------------------*/
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/*---------------------
    HEADER
----------------------*/
header{
    background-color: #06131f;
    padding: .9375rem 6.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 50;
    filter: drop-shadow(0 0 2px white);
}

header img{
    width: 50px;
}
header form input{
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

header form input:focus{
    outline: none;
}

header form input::placeholder{
    color: black;
    text-decoration: underline;
}

header form button{
    padding: 11px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    cursor: pointer;
}

/*---------------------
    MAIN
----------------------*/
main {
    margin-top: 40px;
}

.vinyls-container{
    display: flex;
    flex-wrap: wrap;
}

.vinyl{
    width: calc(100% / 3 - 80px);
    background-color: #112030;
    text-align: center;
    padding: 25px 40px;
    margin: 0 40px;
    margin-bottom: 3.125rem;
    border-radius: 10px;
    transition: transform 0.3s;
}

.vinyl:hover{
    transform: scale(1.1);
}

.vinyl .vinyl__image{
    margin-bottom: 15px;
}

.vinyl .vinyl__image img{
    width: 230px;
    height: 230px;
}

.vinyl .vinyl__info{
    color: white;
}

.vinyl .vinyl__info .vinyl__author{
    margin: 8px 0;
    display: inline-block;
}